#wp_mtg_calc_wrapper {
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #DDDDDD;
	list-style: none;
	margin-bottom: 16px;
}
#wp_mtg_calc_wrapper .wp_mtg_calc_text {
	font-family: inherit;
	font-size: inherit;
	background-color: #EDEDED;
	border: none;
	box-shadow: none;
	padding: 4px;
	width: 96%;
}
.wp_mtg_calc_credit {
	font-family: inherit;
	text-align: right;
}
#wp_mtg_calc_wrapper ul {
	margin: 0 0 0 0 !important;
	padding: 0 0;
}
#wp_mtg_calc_wrapper li {
	list-style: none !important;
	margin: 0 !important;
	background-color: #FFFFFF;
}
#wp_mtg_calc_wrapper a.wp_mtg_calc_toggle {
	font-family: inherit;
	display: block;
	text-decoration: none;
	color: rgba(0, 0, 0, 1.0);
	padding: 10px;
	background: #EDEDED url("images/settings-black.png") no-repeat 100% 100%;
	outline: none;
	font-size: inherit;
	text-transform: inherit;
}
#wp_mtg_calc_wrapper a.wp_mtg_calc_toggle span {
	font-family: inherit;
	font-size: 200%;
	color: inherit;
}

#wp_mtg_calc_wrapper a.wp_mtg_calc_toggle:hover { color: inherit; }
#wp_mtg_calc_wrapper a.wp_mtg_calc_toggle:active { color: inherit; }

a#wp_mtg_calc_dpymt_toggle {
	border-top: 1px solid #DDDDDD;
}
#wp_mtg_calc_pymt_div {
	border-top: 1px solid #DDDDDD;
}
#wp_mtg_calc_dpymt_div {
	display: block;
	border-top: 1px solid #DDDDDD;
}
#wp_mtg_calc_pymt_div::before,
#wp_mtg_calc_dpymt_div::before {
	content: "" !important;
}

/* form styles */
#wp_mtg_calc_wrapper form {
	margin: 0 10px;
}
#wp_mtg_calc_wrapper form input[type="number"] {}
#wp_mtg_calc_wrapper label {
	font-size: inherit;
	color: inherit;
}
#wp_mtg_calc_wrapper p {
	margin: 5px 0 0 0;
}

/* calculation result styles */
#wp_mtg_calc_result, #wp_mtg_calc_dpymt_result { padding: 5px 10px; font-size: inherit; }
.wp_mtg_calc_error { color: inherit; }
.wp_mtg_calc_success { color: inherit; }
.wp_mtg_calc_label { font-weight: inherit; }

.m-btn {
	margin: 0 0 10px 0;
}
